.main-img
{
    background-image: url("/static/image/manas_backgroundjpg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-item
{
    transition: margin-top 0.5s,background-color 0.5s;
    border-radius: 20px;


}

.nav-item:hover
{
    margin-top: 4px;
    background-color: crimson;
}

.div-image
{
    background-image: url("/static/Manas_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.flashcard
{
    transition: transform 1s;
}

.flashcard:hover
{
    transform: scale(1.05);
}



html, body {
    height: 100%;
    margin: 0;

}
.animate__animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;

}

.animate__fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}


.animate__will
{
    animation-duration: 0.1s;
    animation-fill-mode: both;

}

.animate__appear
{
    animation-name: appearingAnimation;
}

@keyframes appearingAnimation {
    from{
        opacity: 0;
    }
    to
    {
        opacity: 1;

    }

}


